@model IEnumerable<EmployeePerfomance.DataAccessLayer.Entities.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-action="RegisterUser">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <caption>List of users</caption>
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Department
            </th>
            <th>
                Role
            </th>
            <th>
                Status
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                @if (item.Login != "admin")
                {
                    @Html.ActionLink("Edit", "EditUser", new { id = item.Id });
                    @Html.Raw(" | ");
                    @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id });
                }
            </td>
        </tr>
}
    </tbody>
</table>
